/******************** GENERAL ********************/
.proj-container{
	position: relative;
	min-height: 120px;
	overflow: hidden;
	ul{
		opacity: 0;
		list-style-type: none;
	}
	.proj-item{
		float: left;
		display:block;
		.box-sizing(border-box);
	}
	.proj-feature{}
	//.fredslider li{width: 33%;}
	.in-grid{	margin: 0 auto; li{width: 33%;}}
	.masonry-brick{
		margin: 8px 0;
		overflow: hidden;
		display:block;
	}

}
/***************************** controls *****************************/
.section-projects-lud{
	.proj-container:hover{
		.proj-prev, .proj-next{opacity:1;}
	}

	.proj-prev, .proj-next{
		display: none;
		opacity: 0;
		top: 50%;
		position:absolute;
		.transition(opacity .3s linear);
		font-size: 40px;
		font-size: 62px;
		a{color: #333;}
	}
	.proj-prev{left: 0;}
	.proj-next{right: 0;}
	.proj-pager{
		display: none;
		text-align: center;
		margin-top: 8px;
		padding-top: 2px;
		a {
			display: inline-block;
			padding: 5px;
		}
		a.selected span {
			background: black;
			background: #FF7F50;
		}
		span {
			border-radius: 30px;
			background: orangered;
			background: #333;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			width: 14px;
			height: 14px;
			overflow: hidden;
		}
	}
}
//colorbox default
#colorbox{

	#cboxContent{background:#fff;}
	.cboxIframe{background:#fff;}

	.proj-item-inner{
		.clearfix;
		.proj-feature, .proj-img1, .proj-img2{
			float: left;
			padding-right: 10px;
			padding-bottom: 10px;
			max-width: 50%;
			.box-sizing(border-box);
			img{}
		}
		.proj-post_title{
			font-size: 3em;
			line-height: 1.3;
		}
		#proj-group-1{
			display:block;
			margin-bottom: 15px;
		}
		.proj-project_slogan{
			padding: 4px;
			font-size: 1.3em;
			font-style: italic;
		}
		.proj-client_name{
//			display: inline-block;
			padding: 4px;
		}
		.proj-partner{
//			display: inline-block;
			padding: 4px;
		}

		.proj-post_content{
			padding: 12px;
		}
		.proj-post_excerpt{display: none;}
/*
		#proj-group-2{
			clear: both;
			padding: 12px 0;
			.clearfix();
		}
*/
		.proj-img1{
		}
		.proj-img2{
		}
	}

}
/****************************************TEMPLATES****************************************/
/************************************default************************************/
.proj-container.template-default{
	background: #E9E9E9;
	ul.proj-wraper{
	}
	.proj-item{
		width: 260px;
		.box-sizing(border-box);
	}
	.proj-item-inner{
		.clearfix;
		margin: 1% auto;
		border-radius: 3px;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
		background: #ffffff;
	}
	.proj-feature{
		img{border-radius: 3px 3px 0 0;}
	}

	#proj-group-1{
		display: none;
	}

	.proj-img1{

	}
	.proj-img2{

	}
	.proj-client_name{

	}
	.proj-incorporation{

	}
	.proj-project_slogan{

	}
	.proj-custom_text1{
		font-weight: bold;
		border-top: 1px solid #e7e7e7;
		color: #777777;
	}
	.proj-custom_text2{

	}
	.proj-post_title{
		overflow: hidden;
		clear: both;
		color: #444444;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
		max-height: 68px;
		padding: 5px 12px 6px;
	}
	.proj-post_content, .proj-post_excerpt{
		color: #333333;
		font-size: 13px;
		line-height: 17px;
		word-wrap: break-word;
		padding: 5%;
		border-top: 1px solid #e7e7e7;
	}
	.proj-post_content{display: none;}

}//default end
//default colorbox in style.less
#colorbox{
	.proj-default{
		.proj-client_name{
			font-weight: bold;
		}
		.proj-post_excerpt, .proj-custom_text1, .proj-custom_text2{display: none;}
	}
}
/************************************basic************************************/
.proj-container.template-basic{
	background: #F2F2F2;
	ul.proj-wraper{
	}
	.proj-item{
		width: 240px;
		.box-sizing(border-box);
	}
	.proj-item-inner{
		.clearfix;
		border-radius: 3px;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
		background: #ffffff;
		clear: left;
		position: relative;
		padding: 8px;
	}
	#proj-group-1{
		&:hover{
			.proj-feature{img{opacity: 0;.transition(opacity .2s linear);}}
			.proj-post_excerpt{display: block;}
		}
	}
	.proj-feature{
		img{border-radius: 3px 3px 0 0; width: 100%; max-height: 150px;
		opacity: 1; .transition(opacity .2s linear);}
	}
	.proj-post_excerpt{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 13px;
		overflow: hidden;
		color: #333333;
		line-height: 17px;
		word-wrap: break-word;
		padding: 5%;
		border-top: 1px solid #e7e7e7;
	}
	.proj-post_content{
		display: none;
	}
	#proj-group-2{
	}
	.proj-post_title{
		overflow: hidden;
		clear: both;
		color: #444444;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
		max-height: 68px;
		padding-top: 4px;
	}
}//basic end
/************************************busy************************************/
.proj-container.template-busy{
	.proj-item{
		float: left;
		display:block;
		.box-sizing(border-box);
		margin:0;
		width: 240px;
		height: 240px;
		&:nth-child(10n - 2), &:nth-child(10n - 9){
			width:480px;
			height: 480px;
			.proj-feature{
				height: 430px;
			}
		}
	}
	.proj-item-inner{
		.clearfix();
		padding: 5px;
		position: relative;
		background: white;
		&:hover{
			#proj-group-2{
				height: 100%;
				padding: 10px;
				.transition(all .2s ease);
			}
			#proj-group-1{opacity: 0; .transition(all .2s ease);}
		}
	}
	.proj-feature{
		height: 190px;
		overflow: hidden;
		img{width: 100%;}
	}
	#proj-group-1{
		display: block;
		padding: 5px;
		.clearfix();
		.transition(all .2s ease);
	}
	.proj-post_title{
		display:block;
		text-align: left;
		font-size: .8em;
	}
	.proj-client_name, .proj-partner{
		float: left;
		padding-right: 8px;
		font-style:italic;
		font-size: .7em;
	}
	#proj-group-2{
		background: white;
		overflow: hidden;
		position: absolute;
		height: 0px;
		bottom: 0px;
		left: 0px;
		padding: 0 10px;
		opacity: .9;
		.box-sizing(border-box);
		.transition(all .2s ease);
	}
	.proj-post_title{
		font-size: 1.3em;
		margin-bottom: 8px;
	}
	.proj-post_excerpt{
		font-size: .9em;
		line-height: 1.2;
	}
	.proj-custom_text2{
	}
	.proj-custom_text1{
	}
	.proj-post_content{
		display:none;
	}
}//busy end
/************************************zigzag************************************/
.proj-container.template-zigzag{
	background: #F2F2F2;
	ul.proj-wraper{
	}
	.proj-item{
		.box-sizing(border-box);
	}
	.proj-item-inner{
		.clearfix;
		background: #ffffff;
		position: relative;
		&:hover{
			#proj-group-1{opacity: 1; .transition(opacity .5s linear);}
		}
	}
	.proj-feature{img{width: 100%;}}
	#proj-group-1{
		position: absolute;
		display: block;
		background: black;
		opacity: .8;
		width: 100%;
		height: 81px;
		z-index: 999;
		bottom: 0;
		left: 0;
		opacity: 0; .transition(opacity .2s linear);
	}
	.proj-post_title{
		color: white;
		text-align: center;
		padding-top: 6px;
	}
	.proj-client_name{
		text-align: center;
		font-style: italic;
	}
	.proj-post_content{
		display: none;
	}
	li.masonry-brick {margin: 0 !important;}
}//zigzag end
/************************************single************************************/
.divovi(){
	max-width: 50%;
	float: left;
	padding: 0 12px 12px 0;
	.box-sizing(border-box);
}
.proj-container.template-single{
	.proj-item{
	}
	.proj-item-inner{
		.clearfix;
		margin: 1% auto;
	}
	.proj-feature{
		.divovi();
	}
	#proj-group-1{

	}
	#proj-group-2{
		.clearfix;
		clear: both;
		div{.divovi();}
	}
	//.proj-prev, .proj-next{opacity: 1}
	.proj-img{
	}
	.proj-position{
	}
	.proj-company{
	}
	.proj-post_title{
		font-size: 3em;
		margin: 10px 0;
		line-height: 1.3em;
	}
	.proj-post_content{
	}
}//single end
