
.proj-container {
	position: relative;
	min-height: 120px;
	overflow: hidden;
	ul{
		opacity: 0;
		list-style-type: none;
	}
	.proj-item{
		float: left;
		display:block;
		.box-sizing(border-box);
	}
	.proj-feature{}
	//.fredslider li{width: 33%;}
	.in-grid{	margin: 0 auto; li{width: 33%;}}
	.masonry-brick{
		margin: 8px 0;
		overflow: hidden;
		display:block;
	}

}
/***************************** controls *****************************/
.section-projects-lud{
	.proj-container:hover{
		.proj-prev, .proj-next{opacity:1;}
	}

	.proj-prev, .proj-next{
		display: none;
		opacity: 0;
		top: 50%;
		position:absolute;
		.transition(opacity .3s linear);
		font-size: 40px;
		font-size: 62px;
		a{color: #333;}
	}
	.proj-prev{left: 0;}
	.proj-next{right: 0;}
	.proj-pager{
		display: none;
		text-align: center;
		margin-top: 8px;
		padding-top: 2px;
		a {
			display: inline-block;
			padding: 5px;
		}
		a.selected span {
			background: black;
			background: #FF7F50;
		}
		span {
			border-radius: 30px;
			background: orangered;
			background: #333;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			width: 14px;
			height: 14px;
			overflow: hidden;
		}
	}
}
//colorbox default
#colorbox{

	#cboxContent{background:#fff;}
	.cboxIframe{background:#fff;}

	.proj-item-inner{
		.clearfix;
		.proj-feature, .proj-img1, .proj-img2{
			float: left;
			padding-right: 10px;
			padding-bottom: 10px;
			max-width: 50%;
			.box-sizing(border-box);
			img{}
		}
		.proj-post_title{
			font-size: 3em;
			line-height: 1.3;
		}
		#proj-group-1{
			display:block;
			margin-bottom: 15px;
		}
		.proj-project_slogan{
			padding: 4px;
			font-size: 1.3em;
			font-style: italic;
		}
		.proj-client_name{
//			display: inline-block;
			padding: 4px;
		}
		.proj-partner{
//			display: inline-block;
			padding: 4px;
		}

		.proj-post_content{
			padding: 12px;
		}
//		.proj-post_excerpt, .proj-custom_text1, .proj-custom_text2{display: none;}
/*
		#proj-group-2{
			clear: both;
			padding: 12px 0;
			.clearfix();
		}
*/
		.proj-img1{
		}
		.proj-img2{
		}
	}

}
